h3 {
    text-align: center;
}

.NewJobForm {
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 20px 10px;
    width: 550px;
    height: 350px;
    .NewJobForm__button {
        margin: 10px 0;
    }
}