body {
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.hihonor.com/content/dam/honor/global/blog/2018/take-photos-with-blurred-background-effects-using-honor-10/blog-img1-take-photos-with-blurred-background-effects-using-honor-10.jpg);
    background-size: cover;
    .container__info {
        padding: 10px;
        .container__info-bigfont {
            text-align: center;
            font-size: 70px;
            color: white;
        }
        h3 {
            text-align: center;
            color: white;
        }
        p {
            text-align: center;
            color: white;
        }
    }
    .container__photo {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
        border-radius: 50%;
        overflow: hidden;
        border: 10px white dashed;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
        img {
            width: 100%;
        }
    }
}