.App {
    margin: 0 auto;
    .App__header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .App__content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}